# Ignore environment variables
*.env

# Ignore unnecessary data
data/raw/*
data/intermediate/*
data/defunct/*

# Ignore checkpoint and cache files
.ipynb_checkpoints/
__pycache__/

# Ignore scrap notebooks
notebooks/extra_notebooks/*