# Ignore environment variables
*.env

# Ignore unnecessary data
data/**
!data/processed/**/*.csv

# Ignore checkpoint and cache files
.ipynb_checkpoints/
__pycache__/

# Ignore scrap notebooks
notebooks/extra_notebooks/*
!notebooks/xdb_extraction.ipynb